/* Mises en page générale*/
* {
  font-family: "Raleway", sans-serif;
}

#main_wrapper {
  width: 900px;
  margin: auto;
}

/* Mise en page FA icons evaluations */
.fas.fa-star {
  color: #0065fc;
}

#grey,
#grey1,
#grey2,
#grey3,
#grey4,
#grey5,
#grey6 {
  color: grey;
}

/* Mise en forme du menu principal */
#menu_principal {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#navigation {
  position: relative;
  float: right;
  padding-top: 2%;
}

#inscription {
  color: #0065fc;
}

nav li {
  margin-right: 15px;
  color: grey;
}

nav a {
  font-size: 1.3em;
  padding-top: 5px;
  text-decoration: none;
}

nav a:hover {
  color: #0065fc !important;
  border-top: 2px solid #0065fc;
}

nav a:visited {
  text-decoration: none;
  color: grey;
}

/* Mise en forme des titres header */

/* Mise en forme de la recherche - avec changement de deco bouton --> rechercher devient une loupe FA */
.fas.fa-map-marker-alt {
}

#recherche {
  border: 1px solid #f2f2f2;
  height: 30px;
  font-weight: bold;
}

input[type="submit"] {
  background-color: #0065fc;
  color: white;
  border-color: #0065fc;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  height: 30px;
}

/* Mise en forme des filtres - icons FA cliquables */
.custom-checkbox input[type="checkbox"],
.custom-checkbox .checked {
  display: none;
}

.custom-checkbox input[type="checkbox"],
.custom-checkbox .unchecked {
  color: #0065fc;
}
.custom-checkbox input[type="checkbox"]:checked ~ .checked {
  display: inline-block;
  color: #800757;
}

.custom-checkbox input[type="checkbox"]:checked ~ .unchecked {
  display: none;
}

/* Mise en forme info nbr d'heb dispo ville saisie */
.fas.fa-info-circle {
  color: white;
  background-color: #0065fc;
  border-color: #f2f2f2;
}

/* Mise en forme section hebergements */
#contenu_heb {
  background-color: white;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  background-color: white;
}

#retour_results_heberg {
  background-color: #f2f2f2;
  border-radius: 10px;
}

.result_heb {
  background-color: white;
}

#results_heb_ville {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: 20%;
}
.nom_heb {
  font-weight: bold;
}

aside {
  background-color: #f2f2f2;
  border-radius: 10px;
}

.fas.fa-chart-line {
  margin-right: 50px;
}

#titre_populaires {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#affich_3_populaires {
  display: flex;
  flex-direction: column;
}

/* Mise en forme section activités */
#results_activites {
  display: flex;
  flex-direction: row;
}

#activites2_3 {
  display: flex;
  flex-direction: column;
}

#activites5_6 {
  display: flex;
  flex-direction: column;
}

.lieu {
  font-weight: bold;
}

/* Mises en forme footer */
footer {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.footer_nav {
  list-style-type: none;
}
