/* Mises en page générale*/
* {
  font-family: "Raleway", sans-serif;
}

.marges {
  margin-right: 10%;
  margin-left: 10%;
  max-width: 1340px;
  margin: auto;
}

/* Mise en page header */
#bandeau {
  /* contient le logo à gauche et le menu à droite */
  display: flex;
  flex-direction: row;
  padding-top: 40px;
  margin-bottom: 30px;
}

#logo {
  flex: 1;
  align-self: flex-end;
  margin-top: 10px;
}

#inscription {
  order: 3;
}

/* -------------- menu principal */
#menu_principal li {
  list-style-type: none;
  display: inline;
  font-size: medium;
  font-weight: normal;
}

#menu_principal a {
  text-decoration: none;
  color: grey;
  padding-top: 45px;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: 10px;
}

#menu_principal li a:hover {
  color: #0065fc;
}

#menu_principal li a:active {
  color: #0065fc;
  box-shadow: 0 1px 0 #0065fc inset;
}

#nav_site_heb a:visited,
#nav_site_act a:visited {
  text-decoration: none;
  color: grey;
}

#inscription a {
  text-decoration: none;
  color: #0065fc;
  font-size: medium;
  font-weight: bold;
  padding-top: 40px;
  padding-left: 25px;
  padding-right: 25px;
}

#inscription a:hover {
  font-weight: 900;
}
#inscription a:active {
  box-shadow: 0 1px 0 #0065fc inset;
}

#inscription a:visited {
  text-decoration: none;
  color: #0065fc;
}

#titres {
  margin-bottom: 25px;
}

h1 {
  font-size: 1.4em;
  font-weight: bolder;
  margin-bottom: 7px;
}

#ss_titre {
  font-size: medium;
  font-weight: normal;
}

/* Mise en forme de la recherche */
#recherche_form {
  display: inline-block;
  height: 50px;
  margin-bottom: 30px;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  border-radius: 15px;
}

.fas.fa-map-marker-alt {
  height: 35px;
  width: 50px;
  float: left;
  padding-top: 15px;
  background-color: #f2f2f2;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  margin: auto;
  text-align: center;
}

#saisie_recherche {
  height: 100%;
  width: 224px;
  padding-left: 17px;
  vertical-align: top;
  font-weight: bold;
  font-size: medium;
  border: none;
}

#submit_rechercher {
  height: 100%;
  width: 133px;
  float: right;
  margin: none;
  background-color: #0065fc;
  border-color: #0065fc;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  color: white;
  font-weight: bold;
  font-size: medium;
}

#submit_FA {
  font-family: "Font Awesome 5 Free";
  display: none;
}

/* Mise en forme des filtres - icons FA cliquables */
#filtres {
  margin-bottom: 15px;
}

.form_filtres {
  font-weight: bolder;
  font-size: medium;
  display: inline-block;
  margin-right: 25px;
  margin-bottom: 30px;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
}

#econo,
#family,
#romantic,
#pets {
  border-radius: 45px;
  border-top: 2px solid #d9d9d9;
  border-right: 2px solid #d9d9d9;
  border-bottom: 2px solid #d9d9d9;
  padding-top: 13px;
  padding-bottom: 12px;
  width: auto;
  text-align: right;
  padding-right: 15px;
  margin-right: 15px;
  position: relative;
}

#econo:hover,
#family:hover,
#romantic:hover,
#pets:hover {
  box-shadow: 0 5px 5px 1px #0065fc inset;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label:before {
  display: inline-flex;
  font-family: "Font Awesome 5 Free";
  border-radius: 50%;
  background-color: #deebff;
  height: 48px;
  width: 48px;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

#eco + label:before {
  content: "\f53a";
  color: #0065fc;
} /* unchecked */

#eco:checked + label:before {
  content: "\f53a";
  color: #deebff;
  background-color: #0065fc;
} /* checked */

#familial + label:before {
  content: "\f1ae";
  color: #0065fc;
} /* unchecked */

#familial:checked + label:before {
  content: "\f1ae";
  color: #deebff;
  background-color: #0065fc;
} /* checked */

#romantique + label:before {
  font-weight: 900;
  content: "\f004";
  color: #0065fc;
  font-weight: bold;
} /* unchecked */

#romantique:checked + label:before {
  content: "\f004";
  color: #deebff;
  background-color: #0065fc;
} /* checked */

#animaux + label:before {
  content: "\f6d3";
  color: #0065fc;
} /* unchecked */

#animaux:checked + label:before {
  content: "\f6d3";
  color: #deebff;
  background-color: #0065fc;
} /* checked */

/* Mise en forme info nbr d'heb dispo ville saisie */
.fas.fa-info {
  color: #0065fc;
}

.far.fa-circle {
  color: #f2f2f2;
  font-weight: lighter;
}

.fa-stack {
  font-size: 1em;
}

i {
  vertical-align: middle;
}

#nbr_heb_dispo {
  margin-bottom: 20px;
}

/* Mise en forme main générale */
.titre {
  margin-top: 40px;
  font-size: x-large;
  font-weight: 900;
}

main img {
  object-fit: cover;
}

/*----------- Mise en page FA icons evaluations */
.fas.fa-star {
  color: #0065fc;
  font-size: small;
}

#grey,
#grey1,
#grey2,
#grey3,
#grey4,
#grey5,
#grey6 {
  color: grey;
  font-size: small;
}

/* Mise en forme section hebergements */
#section_heb {
  display: flex;
  justify-content: space-between;
  height: 624px; /* 52%;*/
  margin-bottom: 30px;
}

#hebergements {
  flex: 2;
  max-width: 880px;
  margin-right: 40px;
  padding-left: 38px;
  padding-right: 38px;
  padding-bottom: 30px;
  background-color: #f2f2f2;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
}

#resultats_recherche_heb {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 80%;
}

.info_heb {
  background-color: white;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #25202023;
  height: 37%; /* 199px; */
  width: 28%; /* 246px */
  overflow: hidden;
}

.info_heb a {
  text-decoration: none;
  color: black;
  height: 100%;
  width: 100%;
}

.img_heb {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 57%;
  width: 96%;
  margin: 2%;
  margin-bottom: 5px;
}

.img_heb img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 100%;
  width: 100%; /*236px*/
}

.txt_heb {
  margin-left: 5%;
  height: 42%;
}

.nom_heb {
  font-weight: bolder;
  font-size: medium;
  margin-bottom: 5px;
  margin-top: 5px;
}

.prix {
  font-size: small;
  margin-top: 0;
  margin-bottom: 5px;
}

.txt_heb .evaluation {
  margin-top: 0;
}

button {
  border: none;
  color: black;
  font-size: large;
  font-weight: bold;
  align-self: flex-start;
}

#plus_populaires {
  flex: 1;
  /* width: 31%;*/ /* 420px */
  max-width: 420px;
  background-color: #f2f2f2;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* padding-top: 50px; */
  padding-bottom: 30px;
  padding-right: 38px;
  padding-left: 38px;
}

#en_tete_populaires {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3em;
  font-weight: bolder;
}

#affich_3_populaires {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.populaire {
  width: 100%;
  height: 29%; /*144px; */
  margin-bottom: 0;
  background-color: white;
  border-radius: 20px;
}

.populaire a {
  text-decoration: none;
  color: black;
  background-color: white;
  box-shadow: 5px 5px 5px #25202023;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
}

.img {
  width: 37%;
  height: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  float: left;
  margin: auto;
}

.img img {
  width: 100%;
  height: 93%;
  margin: 5px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.legende_heb {
  height: 100%;
  padding-left: 20px;
  overflow: hidden;
  position: relative;
}

.eval {
  position: absolute;
  bottom: 0;
}

/* Mise en forme section activités */
#activites {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 60px;
  height: 528px; /*44%; */
}

#resultats_recherche_activites {
  display: flex;
  justify-content: space-between;
  height: 83%; /* 444px */
}

#activite1,
#activite2,
#activite3,
#activite4,
#activite5,
#activite6 {
  box-shadow: 0px 5px 5px #25202023;
  border-radius: 20px;
  overflow: hidden;
}

#activite1,
#activites2_3,
#activite4,
#activites5_6 {
  width: 22%; /*302px*/
  height: 100%;
}

#activite2 {
  width: 100%;
  height: 53%; /* 235px*/
  margin-bottom: 44px;
}

#activite3 {
  width: 100%;
  height: 37%; /* 163px*/
}

#activite5 {
  width: 100%;
  height: 44%; /* 195px*/
  margin-bottom: 44px;
}

#activite6 {
  width: 100%;
  height: 47%; /* 209px */
}

#activite1,
#activites2_3,
#activite4 {
  margin-right: 45px;
}

#activite1 a,
#activite2 a,
#activite3 a,
#activite4 a,
#activite5 a,
#activite6 a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: black;
}

#activite1 .img_act,
#activite4 .img_act {
  width: 100%;
  height: 88%; /* 390px */
  margin: auto;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

#activite2 .img_act {
  width: 100%;
  height: 76%; /* 180px */
  margin: auto;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

#activite3 .img_act {
  width: 100%;
  height: 66%; /* 108px */
  margin: auto;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

#activite5 .img_act {
  width: 100%;
  height: 71%; /* 139px */
  margin: auto;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

#activite6 .img_act {
  width: 100%;
  height: 74%; /* 155px */
  margin: auto;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

#activite1 img,
#activite2 img,
#activite3 img,
#activite4 img,
#activite5 img,
#activite6 img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin: auto;
}

.lieu {
  padding-left: 15px;
  font-weight: bold;
  overflow: hidden;
}

/* Mises en forme footer */
footer {
  background-color: #f2f2f2;
}

#footer_content {
  display: flex;
  justify-content: flex-start;
}

.links {
  width: 34%;
}

.footer_nav {
  list-style-type: none;
  padding-left: 0;
}

.title {
  font-weight: bolder;
}

.footer_nav li {
  padding-bottom: 10px;
}

.footer_nav a {
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 1224px) {
  #section_heb {
    flex-direction: column-reverse;
    justify-content: space-between;
    height: auto;
  }

  #plus_populaires {
    max-width: 100%;
    margin-bottom: 30px;
    max-height: 340px;
  }

  #affich_3_populaires {
    flex-direction: row;
    justify-content: space-between;
    height: 250px;
    margin-bottom: 30px;
  }

  .populaire {
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #25202023;
    height: 220px; /* 199px; */
    width: 28%; /* 246px */
    overflow: hidden;
  }

  .populaire a {
    text-decoration: none;
    color: black;
    background-color: white;
    box-shadow: 5px 5px 5px #25202023;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
  }

  .img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 57%;
    width: 96%;
    margin: 2%;
    margin-bottom: 5px;
  }

  .img img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0;
    height: 100%;
    width: 100%; /*236px*/
    margin: auto;
  }

  .legende_heb {
    height: 40%;
    font-size: xx-small;
    position: relative;
    margin-bottom: 2px;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 236px;
  }

  .eval {
    position: absolute;
    bottom: 0;
  }

  #hebergements {
    max-width: 100%;
    margin: 0;
  }

  #resultats_recherche_heb {
    max-height: 624px;
  }

  .info_heb {
    height: 199px;
    margin-bottom: 30px;
  }

  .lieu {
    font-size: small;
  }

  #footer_content {
    justify-content: center;
  }

  #footer_content nav {
    width: auto;
    margin: auto;
  }
}

@media screen and (max-width: 790px) {
  .marges {
    margin-left: 5%;
    margin-right: 5%;
  }

  #bandeau {
    display: inline-block;
    width: 100%;
    padding-top: 0;
  }

  #logo {
    float: left;
    padding-top: 0;
  }

  #inscription {
    float: right;
    text-decoration: none;
    font-weight: bold;
  }

  #menu_principal {
    text-align: center;
    margin-top: 80px;
    padding-bottom: 10px;
    display: flex;
    padding-left: 0;
  }

  #menu_principal li {
    width: 50%;
    list-style-type: none;
    padding-bottom: 10px;
    border-bottom: 3px solid #f2f2f2;
  }

  #menu_principal li:hover {
    color: #0065fc;
    border-bottom: 3px solid #0065fc;
  }

  #menu_principal li a:active {
    color: #0065fc;
    box-shadow: none;
  }

  #search_ville {
    width: 345px;
  }

  #submit_rechercher {
    display: none;
  }

  #submit_FA {
    display: inline;
    font-family: "Font Awesome 5 Free";
    background-color: #0065fc;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-color: #0065fc;
    border-radius: 15px;
    width: 60px;
    height: 100%;
  }

  #section_heb {
    width: 100%;
    height: auto;
  }

  #plus_populaires {
    max-height: 624px;
  }

  #affich_3_populaires {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
  }

  .populaire {
    width: 100%;
    height: 200px;
    margin-bottom: 30px;
    background-color: white;
    border-radius: 20px;
  }

  .populaire a {
    text-decoration: none;
    color: black;
    background-color: white;
    box-shadow: 5px 5px 5px #25202023;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
  }

  .img {
    width: 37%;
    height: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    float: left;
    margin: auto;
  }

  .img img {
    width: 100%;
    height: 93%;
    margin: 5px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 0px;
  }

  .legende_heb {
    height: 100%;
    padding-left: 20px;
    overflow: hidden;
    position: relative;
  }

  .eval {
    position: absolute;
    bottom: 0;
  }

  #hebergements {
    background-color: white;
  }

  button {
    background-color: white;
  }

  #resultats_recherche_heb {
    flex-flow: column nowrap;
    width: 100%;
    max-height: 1500px;
  }

  .info_heb {
    width: 100%;
    height: 300px;
  }

  #activites {
    height: 1500px;
    max-width: auto;
    justify-content: flex-start;
    padding-right: 38px;
    padding-left: 38px;
    margin-bottom: 50px;
  }

  #resultats_recherche_activites {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 1500px;
    max-width: 790;
  }

  #activite1,
  #activite2,
  #activite3,
  #activite4,
  #activite5,
  #activite6 {
    width: 100%;
    height: 300px;
    margin: auto;
    margin-bottom: 30px;
  }

  #activites2_3,
  #activites5_6 {
    width: 100%;
    min-height: 630;
    margin: auto;
    margin-bottom: 30px;
  }

  #footer_content {
    flex-direction: column;
    justify-content: space-between;
    align-content: flex-start;
  }

  #footer_content nav {
    margin-left: 5%;
    font-size: large;
  }
}
